@font-face {
  font-family: Montserrat-R;
  src: url(../font/Montserrat-Regular.ttf);
}

:root {
  --primary_clr: #eee;
  --secondary-clr_H: 354;
  --secondary-clr_S: 70%;
  --secondary-clr_l: 54%;
  --secondary-main-clr: #1f1f24;
}

body {
  font-family: "Montserrat-R", serif;
  background-color: var(--primary_clr);
}

/*---------------------------------------- header start */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../img/hero-bg.jpg) no-repeat center center/cover;
}
/* navbar start */
.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  padding: 20px;
  transition: all 0.7s;
}

.menu-item {
  font-size: 14px;
  letter-spacing: 1px;
  color: #eee;
  transition: color 0.5s;
}
.menu-item:hover {
  color: hsl(
    var(--secondary-clr_H),
    var(--secondary-clr_S),
    var(--secondary-clr_l)
  );
}

.custom-navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  padding: 5px 10px;
}

.nav-active {
  color: hsl(
    var(--secondary-clr_H),
    var(--secondary-clr_S),
    var(--secondary-clr_l)
  );
}
/* navbar end */

/* banner start */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85.5%;
}
.banner-heading {
  animation: slide_left 2s;
}
.banner-para {
  animation: slide_left 2s 0.5s backwards;
}
@keyframes slide_left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* banner end */

/*----------------------------------------- header start */
/*----------------------------------------- mission start */
.mission {
  background-color: var(--secondary-main-clr);
}

.underline {
  width: 150px;
  border: 3px solid #eee;
  margin: 0 auto;
}
.slide_from_left {
  animation: slide_from_left 3s;
}

.slide_from_right {
  animation: slide_from_right 3s;
}
@keyframes slide_from_left {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_from_right {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*----------------------------------------- mission end */
/*----------------------------------------- collection start */
.card-shadow {
  box-shadow: 5px 8px 20px #444;
}
.card_heading {
  position: absolute;
  top: 60.5%;
  right: 0;
  font-size: 14px;
  letter-spacing: 1px;
  width: 70%;
  background-color: #1f1f24;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.5s;
}
.card_heading:hover {
  opacity: 1;
}
/*----------------------------------------- collection end */
